@import '@/shared/styles/variables.scss';
@import '@/shared/styles/breakpoints.scss';

.container {
  margin-top: 24px;
  padding: 0 16px;

  @include tablet {
    margin-top: 32px;
    padding: 0 24px;
  }

  @include desktop {
    margin-top: 48px;
    padding: 0 48px;
  }

  @include wide {
    padding: 0 100px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  @include wide {
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
  }
}

.time {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $color-secondary;
}

.icon {
  width: 16px;
  height: 16px;
}
